Source: libtinyxml
Section: unknown
Priority: optional
Maintainer: Terry Hendrix (Mongoose) <mongooseichiban@gmail.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: libtinyxml
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The tinyxml support library for freyja.
 This is a library form of tinyxml.
