[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Freyja 3d Modeler
Exec=/home/mongoose/Projects/freyja/freyja_0.9.5/freyja/freyja.sh ddd %F
Terminal=false
Type=Application
Icon=/home/mongoose/Desktop/Projects/freyja/freyja_0.9.5/freyja/data/icons/freyja-dev-debug.png
Categories=Application;Graphics
X-GNOME-DocPath=
Name[en_US]=Freyja 3d Modeler
GenericName[en_US]=
Comment[en_US]=3d modeler for game models
